@model High_TMDT.Data.Ram

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_Manage.cshtml";

}

<h1>Edit</h1>

<h4>Ram</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdRam" />
            <div class="form-group">
                <label asp-for="DungLuongRam" class="control-label"></label>
                <input asp-for="DungLuongRam" class="form-control" />
                <span asp-validation-for="DungLuongRam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KieuRam" class="control-label"></label>
                <input asp-for="KieuRam" class="form-control" />
                <span asp-validation-for="KieuRam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TocDoHoatDong" class="control-label"></label>
                <input asp-for="TocDoHoatDong" class="form-control" />
                <span asp-validation-for="TocDoHoatDong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

