@model High_TMDT.Data.LoaiSanPham

@{
    ViewData["Title"] = "Edit_loaisp";
}
<div class="container mt-3">
    <h1>Edit_loaisp</h1>

    <h4>LoaiSanPham</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit_loaisp">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdLoaiSp" />
                <div class="form-group">
                    <label asp-for="TenLoaiSp" class="control-label"></label>
                    <input asp-for="TenLoaiSp" class="form-control" />
                    <span asp-validation-for="TenLoaiSp" class="text-danger"></span>
                </div>
                <div class="container mt-3">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                    <a class="btn btn-secondary" asp-action="Index">Trờ về</a>
                </div>
            </form>
        </div>
    </div>
</div>


