@model High_TMDT.Data.CongKetNoi

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_Manage.cshtml";

}

<h1>Edit</h1>

<h4>CongKetNoi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCongKetNoi" />
            <div class="form-group">
                <label asp-for="TenCong" class="control-label"></label>
                <input asp-for="TenCong" class="form-control" />
                <span asp-validation-for="TenCong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiCong" class="control-label"></label>
                <input asp-for="LoaiCong" class="form-control" />
                <span asp-validation-for="LoaiCong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TocDoTruyenDuLieu" class="control-label"></label>
                <input asp-for="TocDoTruyenDuLieu" class="form-control" />
                <span asp-validation-for="TocDoTruyenDuLieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChucNang" class="control-label"></label>
                <input asp-for="ChucNang" class="form-control" />
                <span asp-validation-for="ChucNang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

