<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Đăng nhập và đăng kí</title>
        <link rel="stylesheet" href="/css/login.css">
        <title>Đăng nhập và đăng kí</title>
        <meta property="og:title" content="Đăng nhập và đăng kí">
        <meta property="og:image" content="Đăng nhập và đăng kí">
        <meta property="og:description" name="description" content="Mô tả ngắn về nội dung của trang và các dịch vụ hoặc chức năng mà trang cung cấp.">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <style>
            .a {
                text-decoration: none;
            }

            #title-signup, #title-login {
                text-align: center;
                font-size: 24px; /* Điều chỉnh cỡ chữ theo nhu cầu của bạn */
                margin-bottom:10px
            }

            input.form-control {
                height: 5%;
            }



        </style>
    </head>

    <body class="snippet-body">
        <div class="d-flex justify-content-center align-items-center mt-5">
            <div class="card">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item text-center">
                        <a class="nav-link active btl" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Đăng Nhập</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link btr" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Đăng kí</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <form class="form px-4 pt-5" asp-controller="Login" asp-action="Login" method="post">
                            <h1 id="title-login"> Đăng nhập </h1>
                            <input type="text" name="usernameOrEmail" class="form-control" placeholder="Nhập email hoặc tên đăng nhập">
                            <input type="password" name="password" class="form-control" placeholder="Nhập mật khẩu">
                            <button type="submit" class="btn btn-dark btn-block">Đăng nhập</button>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <form class="form px-4" asp-action="SignUp" asp-controller="SignUp" method="post" enctype="multipart/form-data">
                        <h1 id="title-signup">Đăng kí</h1>

                        <!-- Personal Information -->
                        <div class="form-group">
                            <input type="text" name="User.ID" class="form-control" placeholder="Mã người dùng" hidden>
                            <input type="text" name="User.TenNguoiDung" class="form-control" placeholder="Họ và tên">
                            <input type="text" name="User.TenDangNhap" class="form-control" placeholder="Tên đăng nhập">
                            <input type="password" name="User.MatKhau" class="form-control" placeholder="Mật khẩu">
                            <input type="password" name="User.MatKhauNhapLai" class="form-control" placeholder="Nhập lại mật khẩu">
                        </div>

                        <!-- Profile Picture -->
                        <div class="form-group">
                            <label for="filehinh">Chọn ảnh:</label>
                            <input type="file" name="FileName" class="form-control" />

                        </div>

                        <!-- Gender -->
                        <div class="form-group">
                            <label for="GioiTinh">Giới tính:</label>
                            <select class="form-control" id="GioiTinh" name="User.GioiTinh">
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                            </select>
                        </div>

                        <!-- Contact Information -->
                        <div class="form-group">
                            <input type="email" name="User.Email" class="form-control" placeholder="Email">
                            <input type="number" name="User.HieuLuc" class="form-control" placeholder="Hiệu lục" hidden>
                            <input type="number" name="User.SoDienThoai" class="form-control" placeholder="Số điện thoại">
                            <input type="text" name="UserAddress.DiaChiNha" class="form-control" placeholder="Địa Chỉ Nhà">
                            <input type="text" name="UserAddress.PhuongXa" class="form-control" placeholder="Phường / Xã">
                            <input type="text" name="UserAddress.QuanHuyen" class="form-control" placeholder="Quận / Huyện">
                            <input type="text" name="UserAddress.ThanhPhoTinh" class="form-control" placeholder="Thành Phố / Tỉnh">
                            <input type="text" name="UserAddress.QuocGia" class="form-control" placeholder="Quốc Gia">

                        </div>

                        <!-- Submit Button -->
                        <button class="btn btn-dark btn-block">Đăng kí</button>
                    </form>

                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        


    </body>

</html>
